<launch>
    <!-- sensor_data_publisher -->
    <include file="$(find sobit_follower)/launch/simulator/sensor_data_publisher.launch"/>
    <!-- follow_position_recoder -->
    <include file="$(find sobit_follower)/launch/sub/follow_position_recoder.launch"/>
    <!-- person_tracker -->
    <include file="$(find sobit_follower)/launch/follow_me/person_tracker.launch"/>
    <!-- path_generator -->
    <include file="$(find sobit_follower)/launch/follow_me/path_generator.launch"/>

</launch>