<launch>
    <arg name="rviz"                    default="true"/>
    <arg name="rqt_reconfigure"         default="true"/>
    <include file="$(find sobit_follower)/launch/follower_me.launch">
        <arg name="use_rotate"          value="false"/>
        <arg name="rviz"                value="$(arg rviz)"/>
        <arg name="rviz_cfg"            value="$(find sobit_follower)/config/rviz/simulator.rviz"/>
        <arg name="rqt_reconfigure"     value="$(arg rqt_reconfigure)"/>
    </include>
    <include file="$(find virtual_multiple_sensor_publisher)/launch/sensor_data_publisher.launch">
        <arg name="initial_number_of_data"          value="0" />
        <arg name="last_number_of_data"             value="30" />
        <arg name="switching_time"                  value="0.1" />
        <arg name="hz"                              value="20" />
    </include>
</launch>