<launch>
    <!-- person_tracker -->
    <include file="$(find sobit_follower2)/launch/follow_me/person_tracker.launch"/>
    <!-- path_generator -->
    <include file="$(find sobit_follower2)/launch/follow_me/path_generator.launch"/>

    <!--include file="$(find sobit_follower2)/launch/sub/multiple_voice_trigger.launch"/-->
    <include file="$(find sobit_follower2)/launch/sub/follow_me_handle.launch"/>
    <!--include file="$(find sobit_follower2)/launch/sub/follow_position_recoder.launch"/-->
</launch>